:root {
  --primary: #231F20;
  --secondary: #275DAD;
  --terciary: #BEBBBB;
  --details: #F5F5F5; 
  --extra: #525252;
}

a, a:visited {
  color: var(--secondary);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--primary);
}

header {
  border-bottom: 1px solid var(--terciary);
}

#cross-icon, #keyboard-icon, #mic-icon, #camera-icon, #search-icon {
  position: absolute;
  top: 14px;
  font-size: 18px;
}

header > div {
  padding-top: 20px;
  padding-bottom: 9px;
}

header > div form {
  display: inline-block;
  position: relative;
}

header > div form input {
  height: 44px;
  border-radius: 22px;
  width: 597px;
  border: 1px solid var(--terciary);
  padding: 0 21px;
  margin-left: 146px;
  font-size: 16px;
  background-color: var(--extra);
  color: var(--terciary);
}

header > div form input:focus {
  outline: 0;
}

header > div img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#camera-icon {
  right: 53px;
  color: var(--terciary);
}

#cross-icon {
  right: 160px;
  padding-right: 10px;
  border-right: 1px solid var(--terciary);
  color: var(--terciary);
}

#keyboard-icon {
  right: 125px;
  color: var(--terciary);
}

#mic-icon {
  right: 88px;
  color: var(--terciary);
}

#search-icon {
  right: 18px;
  color: var(--secondary);
}