:root {
  --primary: #231F20;
  --secondary: #275DAD;
  --terciary: #BEBBBB;
  --details: #F5F5F5; 
  --extra: #525252;
}

a, a:visited {
  color: var(--secondary);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--primary);
}

header {
  border-bottom: 1px solid var(--terciary);
}

header > div {
  padding-top: 20px;
  padding-bottom: 9px;
}

header > div form {
  display: inline-block;
  position: relative;
}

header > div form input {
  height: 44px;
  border-radius: 22px;
  width: 597px;
  border: 1px solid var(--terciary);
  padding: 0 21px;
  margin-left: 146px;
  font-size: 16px;
  background-color: var(--extra);
  color: var(--terciary);
}

header > div form input:focus {
  outline: 0;
}

header > div form input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header > div img {
  width: 100px;
  position: absolute;
  top: 20px;
  left: 20px;
}

#links-list {
  list-style: none;
  padding-left: 0;
  margin-left: 146px;
  margin-bottom: 0;
}

#links-list .active a {
  color: var(--secondary);
}

#links-list li {
  display: inline-block;
  padding: 0 11px;
}

#links-list li a {
  color: var(--terciary);
  text-decoration: none;
  font-size: 13px;
  padding-bottom: 12px;
  display: inline-block;
}

#links-list li span {
  font-size: 16px;
  display: inline-block;
  margin-right: 3px;
}

#search-icon {
  right: 18px;
  color: var(--secondary);
}

.active {
  border-bottom: 3px solid var(--secondary);
}

.lnr-camera {
  right: 53px;
  color: var(--terciary);
}

.lnr-cross {
  right: 160px;
  padding-right: 10px;
  border-right: 1px solid var(--terciary);
  color: var(--terciary);
}

.lnr-cross:hover .tooltip-cross, .lnr-keyboard:hover .tooltip-keyboard,
.lnr-mic:hover .tooltip-mic, .lnr-camera:hover .tooltip-camera {
  visibility: visible;
}

.lnr-cross, .lnr-keyboard, .lnr-mic, .lnr-camera, #search-icon {
  position: absolute;
  top: 14px;
  font-size: 18px;
}

.lnr-keyboard {
  right: 125px;
  color: var(--terciary);
}

.lnr-mic {
  right: 88px;
  color: var(--terciary);
}

.tooltip-cross, .tooltip-keyboard, .tooltip-mic, .tooltip-camera {
  visibility: hidden;
  width: 40px;
  font-size: 12px;
  background-color: var(--primary);
  color: var(--terciary);
  text-align: center;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: 10%;
  margin-left: -20px;
  border: 1px solid var(--terciary);
}

.tooltip-cross::after, .tooltip-keyboard::after, .tooltip-mic::after,
.tooltip-camera::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--terciary) transparent;
}

.tooltip-keyboard {
  width: 180px;
  margin-left: -90px;
}

.tooltip-mic {
  width: 100px;
  margin-left: -50px;
}

.tooltip-camera {
  width: 120px;
  margin-left: -60px;
}